.sidebar {
    background-color: #f0eeee;
    height: 100vh;
    width: 50px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li:nth-last-child(2) {
    margin-top: auto;
}

.sidebar ul li img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#addPhoto {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*INPUT CANVAS*/
#insertTextInput {
    position: absolute;
    left: 40%;
    top: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid red;
    background-color: transparent;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 15px;
}